.Footer {
    position:absolute;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    flex-direction: row;
    flex-wrap: nowrap; 

}
.footer-image {
    margin: 0;
}