@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  top: 0;
  text-align: center;
}

body {
  background-color: #000000;
  font-family: 'Darker Grotesque';
  font-size: 1.3rem;
  display: flex;
  margin-top : 0;
  margin: auto;
  flex-direction: column;
}